<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer xdt:Transform="Insert">      
      <rewrite>
        <rules>        
          <rule name="sveltekit routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">            
              <add input="{REQUEST_URI}" pattern="^/directory-name/api/" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/directory-name/_app/" negate="true" />
            </conditions>
            <action type="Rewrite" url="/directory-name/" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>