<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\srv.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="sveltekit routes" stopProcessing="true">
            <match url="^/(.+)/.*"/>
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_URI}" pattern="^/.+/(api|_app)/" negate="true"/>
            </conditions>
            <action type="Rewrite" url="/{R:1}/" appendQueryString="true"/>
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>